<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <!-- Configure java classes as spring bean -->
    <bean id="dieselEng" class="com.it.beans.DieselEngine"></bean> 
    <bean id="petrolEng" class="com.it.beans.PetrolEngine" scope="prototype"></bean>
    
    
    <!-- Target spring bean  -->
    <bean id="car" class="com.it.beans.Car" scope="prototype">
		<!--  property tags for setter injection configurations -->
		<!-- to perform DI using setter we use property tag (it represent setter injection) -->
		<property name="eng" ref="dieselEng"></property>
		<!-- it represents constructor injection   (always setter injection will override the contructor injection  )-->
		<constructor-arg name="eng" ref="petrolEng"></constructor-arg>
		<!-- here ref means in the eng reference variable we are injecting petrolEngine or dieselEngine bean object -->
    </bean>
</beans> 

