<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <!-- Configure java classes as spring bean -->
    <bean id="engine" class="com.it.model.Engine"></bean>     
    
    <!-- Target spring bean  -->
    <bean id="car" class="com.it.model.Car" autowire="byName"></bean>
</beans> 